<!-- Navigation Bar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      {{title}}
    </div>
  </div>
</nav>

<!-- Body Section -->
<div class="container-fluid">
  <div class="row">

    <!-- Side bar -->
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li>Find A Match</li>
        <li>Profile Visits</li>
        <li>Payment Info</li>
        <li><a (ngClick)="contactus()">Contact Us</a></li>
        <li>Log Out</li>
      </ul>
    </div>

    <!-- Main Body -->
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <div class="row placeholders">

        <!-- PLACEHOLDER > Total Registration-->
        <div class="col-xs-6 col-sm-3 placeholder">
          Total Registrations: {{total_members}}
        </div>

         <!-- PLACEHOLDER > Total Registration-->
         <div class="col-xs-6 col-sm-3 placeholder">
            Total Registrations: {{total_members}}
          </div>

           <!-- PLACEHOLDER > Total Registration-->
        <div class="col-xs-6 col-sm-3 placeholder">
            Total Registrations: {{total_members}}
          </div>

           <!-- PLACEHOLDER > Total Registration-->
        <div class="col-xs-6 col-sm-3 placeholder">
            Total Registrations: {{total_members}}
          </div>
      </div>
    </div>
  </div>
</div>